body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  --animation-duration: 1.25s
}

.tile {
  border: solid black 2px;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .25em;
  font-weight: bolder;
  font-size: xx-large;
}

.score {
  font-weight: bolder;
  font-size: xx-large;
}

.board {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  margin: 2rem;
}

.leaderboard {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: solid black 2px;
  min-height: 50vh;
  padding: 0 2rem;
}

.board-row {
  display: flex;
}

.new {
  animation-name: new-tile-animation;
  animation-duration: var(--animation-duration);
}

@keyframes new-tile-animation {
  0% {
    transform: scale(1);
    background-color: transparent;
  }

  50% {
    transform: scale(1.1);
    background-color: burlywood;
  }

  100% {
    transform: scale(1);
    background-color: transparent;
  }
}

.merged {
  animation-name: merged-tile-animation;
  animation-duration: var(--animation-duration);
}

@keyframes merged-tile-animation {
  0% {
    transform: scale(1);
    background-color: transparent;
  }

  50% {
    transform: scale(1.1);
    background-color: rgb(187, 55, 139);
  }

  100% {
    transform: scale(1);
    background-color: transparent;
  }
}