.App {
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.board {
  position: relative;
  /* border: solid red; */
}

.board-row {
  display: flex;
}

.new {
  animation-name: new-tile-animation;
  animation-duration: 1s;
}

@keyframes new-tile-animation {
  0% {
    transform: scale(1);
    background-color: transparent;
  }

  50% {
    transform: scale(1.1);
    background-color: burlywood;
  }

  100% {
    transform: scale(1);
    background-color: transparent;
  }
}

.merged {
  animation-name: merged-tile-animation;
  animation-duration: 1.25s;
}

@keyframes merged-tile-animation {
  0% {
    transform: scale(1);
    background-color: transparent;
  }

  50% {
    transform: scale(1.3);
    background-color: rgb(187, 55, 139);
  }

  100% {
    transform: scale(1);
    background-color: transparent;
  }
}